---
name: car.list
url: /list
controller: CarListController as vm
---
<div class="grid-container">
  <div class="grid-block small-up-1 medium-up-2 large-up-3" style="margin-top: 1rem">
    <div class="grid-content" ng-repeat="car in vm.cars">
      <div class="card">
        <a ui-sref="car.detail({id: car.id})">
          <img ng-src="{{car.picture}}">
        </a>
        <div class="card-divider">{{car.description}}</div>
        <div class="card-section" style="padding-bottom: 0">
          <div class="grid-block small-up-2">
            <div class="grid-content" translate="common.colonize" translate-value-msg="{{'car.make' | translate}}"></div>
            <div class="grid-content">{{car.make}}</div>
          </div>
          <div class="grid-block small-up-2">
            <div class="grid-content" translate="common.colonize" translate-value-msg="{{'car.model' | translate}}"></div>
            <div class="grid-content">{{car.model}}</div>
          </div>
          <div class="grid-block small-up-2">
            <div class="grid-content" translate="common.colonize" translate-value-msg="{{'car.firstRegistration' | translate}}"></div>
            <div class="grid-content">{{car.firstRegistration | date : 'mediumDate'}}</div>
          </div>
          <div class="grid-block small-up-2">
            <div class="grid-content" translate="common.colonize" translate-value-msg="{{'car.boughtOn' | translate}}"></div>
            <div class="grid-content">{{car.boughtOn | date : 'mediumDate'}}</div>
          </div>
          <div class="grid-block small-up-2" ng-if="!car.finalMileage">
            <div class="grid-content" translate="common.colonize" translate-value-msg="{{'car.initialMileage' | translate}}"></div>
            <div class="grid-content">{{car.initialMileage}}&nbsp;km</div>
          </div>
          <div class="grid-block small-up-2" ng-if="car.soldOn">
            <div class="grid-content" translate="common.colonize" translate-value-msg="{{'car.soldOn' | translate}}"></div>
            <div class="grid-content">{{car.soldOn | date : 'mediumDate'}}</div>
          </div>
          <div class="grid-block small-up-2" ng-if="car.finalMileage">
            <div class="grid-content" translate="common.colonize" translate-value-msg="{{'car.distance' | translate}}"></div>
            <div class="grid-content">{{car.finalMileage - car.initialMileage}}&nbsp;km</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
